
<%= form_for(@post) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :content %>
  <%= f.text_area :content %>
 
  <%= f.label :category_ids, "Categories" %>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  
<p>New category:
    <%= f.fields_for :categories do |category_fields| %>
        <%= category_fields.text_field :name %>
    <% end %>
</p>
  
  <%= f.submit %>
<% end %>